.carouselContainer {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 20px 0; /* เพิ่ม padding บนล่างนิดหน่อยไม่ให้ชิดเกิน */
  position: relative;
}

.window {
  margin-top: -440px;
  width: 300px;
  height: 500px;
  overflow: hidden;
}



.track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.card {
  min-width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  object-fit: contain;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.5));
  max-width: 100%;
  max-height: 100%;
}

.navButton {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  font-size: 2rem;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 99;
  user-select: none;
  margin-top: -480px;
}

.navButton:hover {
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .carouselContainer {
    display: flex;
  }
}
