.toggle-btn2 {
  position: absolute;
  bottom: 25%; /* ตำแหน่งปุ่มแนวตั้ง */
  left: 240px; /* ขยับปุ่มออกมาทางขวาของกระป๋องนิดนึง */
  top: 600px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #969696; /* สีชมพู */
  border: 3px solid #000; /* ขอบดำ */
  color: #000;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease; /* Animation ของปุ่ม */
  z-index: 20;
}

.toggle-btn2:hover {
  transform: scale(1.1); /* ขยายเล็กน้อยเมื่อเอาเมาส์ชี้ */
}

/* เมื่อปุ่มถูกกด (Active State) */
.toggle-btn2.active {
  background-color: #ff8000; /* เปลี่ยนสีเมื่อกด (ถ้าต้องการ) */
  transform: rotate(45deg); /* หมุนเครื่องหมาย + ให้กลายเป็น X */
}

/* --- ส่วนข้อมูล (Info Panel) --- */
.info-panel2 {
  position: absolute;
  right: 15%; /* วางไว้ทางซ้ายของกระป๋อง (เริ่มที่หลังกระป๋อง) */
  top: 40%;
    text-transform: uppercase;

  transform: translateY(-50%);
  text-align: left; /* จัดตัวหนังสือชิดขวา */
  color: #000;
  opacity: 0;
  visibility: hidden;
  transform: translate(50px, -50%); /* ดันไปทางขวา (ซ่อนหลังกระป๋อง) */
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Animation เด้งดึ๋ง */
}

/* เมื่อเปิดข้อมูล (Active State) */
.info-panel2.show {
  opacity: 1;
  visibility: visible;
  /* ดึงกลับมาตำแหน่งเดิม */
  transform: translate(-140px, -50%);
   /* ขยับออกมาทางซ้าย */
}

/* ตกแต่งตัวหนังสือ */
.info-title2 {
  margin-top: 850px;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: "Noto Sans";
}

.info-list2 {
  list-style: none;
  padding: 0;
  font-weight: 600;
  font-family: "Noto Sans";
}

.info-list2 li {
  font-size: 1rem;
  border-bottom: 1px solid #000;
  padding: 5px 0;
  margin-bottom: 5px;
}
